.Chemicals {
    list-style: none;
    cursor: pointer;
}

.Chemicals:hover,
.Chemicals:active {
    border: 2px solid black;
}

.Chemicals input,
.Chemicals label {
    width: 80%;
}

.FormLabel {
    display: block;
}

.FormTextbox {
    width: 25rem;
    margin: auto;
}