.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: inline-block;
    width: 20%;
}

.NavigationItem a {
    color: #8F5C2C;
    text-decoration: none;
    width: 20%;
    box-sizing: border-box;

}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #40A4C8;
}
